actualdata/*.csv
prod_env/temporary_trash/actualdata/sales_short.csv
prod_env/temporary_trash/actualdata/expanded.csv
prod_env/temporary_trash/actualdata/sales_full.csv
prod_env/temporary_trash/actualdata/expanded.csv
prod_env/temporary_trash/actualdata/catboost_info
prod_env/temporary_trash/actualdata/plots
prod_env/temporary_trash/actualdata/catboost_model.cbm
train
train/*.jsonl
prod_env/temporary_trash/actualdata/backup
prod_env/temporary_trash/actualdata/by_department