actualdata/*.csv
actualdata/sales_short.csv
actualdata/expanded.csv
actualdata/sales_full.csv
actualdata/expanded.csv
actualdata/catboost_info
actualdata/plots
actualdata/catboost_model.cbm
train
train/*.jsonl
actualdata/backup
actualdata/by_department